{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}


{% block main %}
<div class="container d-flex justify-content-center pt-5 pb-5">
    <div class="col-6 card bg-dark p-4">
        <form action="" method="post">
            {% csrf_token %}
            <h5 class="text-light text-center">Are you want delete "{{ article.title }}" ?</h5>
            <br>
            <div class="d-flex justify-content-evenly">
                <input class="btn btn-danger " type="submit" value="Yes, Delete!">
                <a href="{% url  'article' article.id %}" class="btn btn-success ">Back</a>
            </div>
        </form>
    </div>
</div>

{% endblock main %}